* {
    margin: 0;
    background-image: url("assets/textures/fabric_plaid.png");
    background-repeat: repeat;
    background-size: contain;
    font-family: 'museo';
}

@font-face {
    font-family: 'museo';
    src: url(assets/fonts/museo/museo-300-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header, body, footer */

header {
    height: 75px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: 12px;
}

body {
    text-align: center;
}

footer {
    background-image: url("assets/textures/az_subtle.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
}

/* Mainly header details */

a {
    text-decoration: none;
    color: #858585;
}

nav {
    display: flex;
    flex-flow: wrap row;

    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    max-width: 95px;
}

.tinylogos {
    max-width: 30px;
    border-radius: 10%;
}

.about {
    display: flex;
    justify-content: space-between;
}

.infolinks {
    display: block;
    text-align: right;
    margin-right: 0;
    bottom: 0;
}

.account {
    color: #bdbdbd;
}

/* Mainly body details */

.proj-slide {
    display: inline;
    position: relative;
}

.slide {
    border: solid 10px white;
    max-width: 90%;
    display: inline;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}

#arrow {
    max-width: 25%;
}

.leftA {
    display: inline-block;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 0;
}

.rightA {
    margin: 0 100%;
}

.showcase {
    padding: 10px;
}

.picture-alignment {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.picture-alignment>img {
    max-width: 250px;
    max-height: 200px;
    width: auto;
    height: auto;

    margin: 10px;
}


/* Footer details */
.twitterdiv {
    color: white;
    background-color: #666 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}