* {
    margin: 0;

    background-image: url("assets/textures/fabric_plaid.png");
    background-repeat: repeat;
    background-size: contain;
    
    font-family: 'museo';
}

@font-face {
    font-family: 'museo';
    src: url(assets/fonts/museo/museo-300-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

.nessst {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
}

/* header, body, footer */

header {
    height: 75px;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0;
    color: #bdbdbd;
    text-transform: uppercase;
    font-size: 12px;
}

body {
    text-align: center;
}

footer {
    height: 300px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: left;
}

/*Text Colors*/

a {
    text-decoration: none;
    color: #858585;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

/* header details */

nav {
    display: flex;
    flex-flow: wrap row;

    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    max-width: 95px;
}

.tinylogos {
    max-width: 30px;
    border-radius: 10%;
}

.infolinks {
    display: block;
    text-align: right;
    margin-right: 0;
    bottom: 0;
}

.account {
    color: #bdbdbd;
}

/* Mainly body details */

.top {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    text-align: right;
}

h4 {
    color: #858585;
    line-height: 20px;
}

h5 {
    line-height: 20px;
}

/*Slide*/

.proj-slide {

}

.slide {
    border: solid 10px white;
    max-width: 65%;
}

#arrow {
    max-width: 20%;
}


/*profile*/

.profile {

}

.profilepic {
    width: 25%;
}

/* Footer details */

.footermenu {
    display: flex;
    flex-flow: wrap row;

    justify-content: space-between;
    align-items: center;
}

.twitterdiv {
    background-color: #676767 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-blend-mode: multiply;
}

.tinyletters {
    font-size: .5rem;
}

.footerdisplay {
    height: 250px;
    display: table;

}

.footerinfo {
    display: table-cell;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 300px;
}

.footerinfo input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    background:white;
}

.viscom {
    display: table-cell;
}

.ViewGallery {
    display: table-cell;
}

.footerimgs{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-auto-rows: 5x ;
    grid-auto-flow: dense;
    
    margin: 0;
}

.footerimgs>img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: cover;
    margin: 10px;
}